* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  body {
    background-color: #1f2937;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .inputLogin {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
    width: 100%;
  }
  
  .inputLogin label {
    width: 17%;
    font-weight: 600;
    color: #e5e7eb;
    font-size: 0.75rem;
    text-align: left;
  }
  
  .inputLogin input {
    width: 82%;
    height: 38px;
    padding: 0 14px;
    font-size: 0.75rem;
    border-radius: 8px;
    border: 1px solid #4b5563;
    background-color: #1f2937;
    color: white;
    transition: border 0.3s;
  }
  
  .inputLogin input::placeholder {
    color: #9ca3af;
  }
  
  .inputLogin input:focus {
    border-color: #60a5fa;
    outline: none;
  }

  .inputLogin button{
    width: 100%;
    padding: 12px;
    background-color: #3b82f6;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
  }
  
  .inputLogin button:hover {
    background-color: #2563eb;
  }
